@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background-color: rgb(76 29 149);
    left: 50%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a:hover {
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 20px;
    --hue-color: 230;
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 70%, 80%);
}

::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

.bg-slate-400 {
    background-color: #94a3b8;
}
.bg-slate-700 {
    background-color: #334155;
}
.bg-orange-400 {
    background-color: #fb923c;
}
.bg-orange-700 {
    background-color: #c2410c;
}
.bg-green-400 {
    background-color: #4ade80;
}
.bg-green-700 {
    background-color: #15803d;
}
.bg-teal-400 {
    background-color: #2dd4bf;
}
.bg-teal-700 {
    background-color: #0f766e;
}
.bg-cyan-400 {
    background-color: #22d3ee;
}
.bg-cyan-700 {
    background-color: #0e7490;
}
.bg-sky-400 {
    background-color: #38bdf8;
}
.bg-sky-700 {
    background-color: #0369a1;
}
.bg-indigo-400 {
    background-color: #818cf8;
}
.bg-indigo-700 {
    background-color: #4338ca;
}
.bg-violet-400 {
    background-color: #a78bfa;
}
.bg-violet-700 {
    background-color: #6d28d9;
}
.bg-fuchsia-400 {
    background-color: #e879f9;
}
.bg-fuchsia-700 {
    background-color: #a21caf;
}
.bg-rose-400 {
    background-color: #fb7185;
}
.bg-rose-700 {
    background-color: #be123c;
}
